* {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}
body {
    background: #faf6ed;
    color: #222;

    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

::-webkit-scrollbar {
    background: #faf6ed;
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
    border: 4px solid #faf6ed;
}

.menu {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;

    background-color: #fb5;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.menu li a {
    display: block;

    padding: 10px;
    margin-right: 10px;

    font: bold 0.875rem monospace;
    color: #222;
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais h2 {
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;
}
.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}
.animais p {
    font-family: helvetica, arial;
    line-height: 1.2;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}
.animais-lista::-webkit-scrollbar {
    width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
    background: #fb5;
    border-radius: 20px;
    border: 4px solid #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}
.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2 / 4;
}
.faq-lista dt {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #e54;
    margin-top: 2rem;
}
.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #fb5;
    margin-right: 10px;
}
.faq-lista dd {
    font-family: helvetica, arial;
    line-height: 1.2em;
    margin-top: 10px;
    margin-left: 30px;
}

.mapa {
    grid-column: 1 / 3;
}
.mapa img {
    border-radius: 10px;
    border: 2px solid #fb5;
}

.contato-lista {
    grid-column: 3 / 4;
}
.contato-lista li {
    font-family: helvetica, arial;
    margin-bottom: 15px;
}
.contato-lista li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #fb5;
    margin-right: 15px;
}

.copy {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fb5;
    padding: 10px;
}
.copy p {
    font: bold 0.95rem monospace;
    padding: 10px;
}